<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="text-align: center; padding-bottom: 30px;">
            <a href="/" style="font-weight: bolder; font-size: larger; color: black">Home</a>
        </div>
    </body>
</html>