<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurryFriendFinder</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align: center;">Furry Friend Finder</h1>
    <nav style="text-align: center; padding-bottom: 10px; font-weight: bolder; font-size: larger;">
        <!-- <a href="/">Home</a> -->
        <a href="/about" style="padding: 10px; color: black;">About</a>
        <a href="/index" style="padding: 10px; color: black">View All Pets</a>
        <a href="/new" style="padding: 10px; color: black">Add Pet</a>
    </nav>
</body>
</html>