<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FurryFriendFinder</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 style="text-align: center;">FurryFriends</h1>
    <nav style="text-align: center;">
        <!-- <a href="/furryfriend/">Home</a> -->
        <a href="/index">See all Pets</a>
        <a href="/about">About</a>
        <a href="/new">Add FurrFriend</a>
    </nav>
</body>
</html>