<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <div>
            <img src="/assets/black_kitten.jpg" style="max-width: 300px;" alt="image">
        </div>
        <h1>Our goal is to find a forever home for our wonderful furfriends!</h1>
        <h3>We rescue animals all around the world who have been neglected and abandoned. 
            We help them recover and show them as much love as we while they wait for their new owners.</h3>
    </body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>