<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <h1>Our goal is to find a forever home for our wonderful furfriends!</h1>
    <h3>we as a company hire part time employees from around the world to rescue animals 
        who are neglected. We help rejuvinate them and then help them find a forever home!</h3>
</body>
</html>