<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
        <div>
            
        </div>
        <h1>furryfriend</h1>
        <h3>Welcome </h3>
        <!-- <div class="slider-container">
            <div class="menu">
            <label for="slide-dot-1"></label>
            <label for="slide-dot-2"></label>
            <label for="slide-dot-3"></label>
            </div>
            
            <input id="slide-dot-1" type="radio" name="slides" checked>
                <div class="slide slide-1"></div>
            
            <input id="slide-dot-2" type="radio" name="slides">
            <div class="slide slide-2"></div>
            
            <input id="slide-dot-3" type="radio" name="slides">
            <div class="slide slide-3"></div>
        </div> -->
        <div>
            <img src="/assets/dogncat.jpeg" alt="image">
        </div>
        <h2 style="padding-bottom: 2rem;">Find your perfect furry friend!</h2>
    </body>
    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
</html>