<!DOCTYPE html>
<html lang="en">
    <header>
        <%- include ('./partials/header.ejs') %>
    </header>
    <body>
            <ul>
                <% for (let i=0; i < furryFriends.length; i++) { %>
                    <li><a href="/<%=i%>">
                            <%=furryFriends[i].name%>
                        </a></li>
                <% } %>
            </ul>
    </body>
     <%- include ('./partials/footer.ejs') %> 
</html>